<div class ="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto-perfil.jpg" class="img-fluid" id="fotoDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"><b>Franco Emmanuel Villalba</b></p>
        <p><b>Full Stack Development Jr.</b></p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1>Acerca de mi</h1>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolore similique eum perferendis illo sequi asperiores laboriosam nobis dicta quo minima enim, magni ullam fugit repellendus corporis beatae expedita quibusdam!</span>
    </div>

</div>
