<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogotrasparente.png" id="logoAp">
        </div>
        <div class="redes">
            <a href=""> <img src="../../../assets/Facebook-No-Background.png" id="facebook"></a>"
            <a href=""> <img src="../../../assets/github.png" id="github"></a>"
            <a href=""> <img src="../../../assets/new-linkedin-logo-white-black-png.png" id="linkedin"></a>"
            <button type="button" class="btn btn-outline-dark">Ingreso</button>
        </div>
    </div>
</div>
